@import "fonts";
@import "variables";

$sidebar-bg-color: $primary-color;
$sidebar-color: #fff !default;
$sidebar-width: 270px !default;
$sidebar-collapsed-width: 80px !default;
$highlight-color: lighten(
    $color: #000,
    $amount: 40,
) !default;
$submenu-bg-color: transparent !default;
$submenu-bg-color-collapsed: transparent !default;
$icon-bg-color: transparent !default;
$icon-size: 35px !default;
$breakpoint-xs: 480px !default;
$breakpoint-sm: 576px !default;
$breakpoint-md: 768px !default;
$breakpoint-lg: 992px !default;
$breakpoint-xl: 1200px !default;

#sidebar {
    display: flex;
    flex-basis: auto;
    img {
        filter: blur(4px);
    }
    .sidebar-header {
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;

        .icon {
            display: flex;
            flex-basis: 20%;
            margin: 0;
            font-size: 25px;
            justify-content: center;
            padding-left: 5px;
        }

        .title {
            display: flex;
            flex-basis: 90%;
            margin: 0;
            padding: 10px 0;
            justify-content: center;
            font-size: 16px;
        }
    }

    //component
    .header {
        display: flex;
        flex-basis: 100%;
        justify-content: center;
        align-content: center;
        min-height: 50px;
        .logo {
            display: flex;
            flex-basis: 80%;
            flex-direction: column;

            .title {
                font-family: "Bad Script";
                font-size: 22px;
                color: lighten($color: #43b99c, $amount: 0);
                margin: 0;
                padding-left: 10px;
            }
            .subtitle {
                padding-left: 30px;
                font-family: "Open Sans";
                font-size: 09px;
                color: lighten($color: #fff, $amount: 0);
                margin: 0;
            }
        }

        .icon {
            display: flex;
            flex-basis: 20%;
            justify-content: center;
            align-content: center;
            svg {
                align-self: center;
                font-size: 30px;
                color: #fff;
                cursor: pointer;
            }
        }
    }

    .pro-sidebar-content {
        color: #fff;

        .range {
            display: flex;
            flex-basis: auto;
            justify-content: center;
            align-items: center;
            padding: 3px 0;
            .label,
            .number {
                display: flex;
                flex-basis: 30%;
                margin: 0;
                padding: 0 5px;
            }
            input {
                text-align: center;
                width: 30%;
                padding: 0 2px;
            }
            .number {
                font-size: 18px;
                width: auto;
            }
            .limiar {
                justify-content: center;
                align-items: center;
                width: 100%;
            }
        }
        .title {
            display: flex;
            flex-basis: auto;
            justify-content: center;
            align-items: center;
            p {
                margin: 0;
            }
        }

        .btn {
            display: flex;
            flex-basis: 100%;
            justify-content: center;
            align-items: center;
        }

        .noise-reduction-item {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .title {
                display: flex;
                flex-basis: auto;
                justify-content: center;
                align-items: center;
                background-color: rgba(0, 0, 0, 0.3);
                margin: 0 20px 10px 0;
                width: 100%;
                p {
                    margin: 0;
                    font-size: 16px;
                }
            }
            .btn-filter {
                display: flex;
                width: 100%;
                justify-content: center;
                align-items: center;
                margin: 0 20px 0 0;

                button {
                    margin: 5px;
                    background-color: $primary-color;
                    border: none;
                    opacity: 0.7;
                    box-shadow: 0 4px 8px 2px rgba(0, 0, 0, 0.3);

                    &:focus {
                        box-shadow: none;
                    }
                    &:hover {
                        opacity: 1;
                    }
                }
                .active {
                    opacity: 1;
                }
            }
            .content {
                display: flex;
                flex-direction: row;
                width: 100%;
                padding-bottom: 20px;

                .buttons {
                    display: flex;
                    flex-basis: 50%;
                    flex-direction: column;
                    justify-content: center;
                    padding: 0 10px;
                    button {
                        background-color: $primary-color;
                        border: none;
                        min-width: 90%;
                        margin: 5px 0;
                        opacity: 0.7;
                        box-shadow: 0 4px 8px 2px rgba(0, 0, 0, 0.3);
                        font-size: 14px;

                        &:focus {
                            box-shadow: none;
                        }
                        &:hover {
                            opacity: 1;
                        }
                    }
                    .active {
                        opacity: 1;
                    }
                }

                .filter-one {
                    display: flex;
                    margin: 0;
                    flex-basis: 50%;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    .dark {
                        color: lighten($color: #000000, $amount: 0);
                    }

                    .noise {
                        color: cadetblue;
                    }

                    svg {
                        margin: 0;
                        padding: 0 1px;
                        font-size: 28px;
                    }
                    .line {
                        display: flex;
                        margin: 0;
                    }
                }
            }
        }
        .addition {
            .title {
                display: flex;
                flex-basis: auto;
                justify-content: center;
                align-items: center;
                background-color: rgba(0, 0, 0, 0.3);
                margin: 0 20px 10px 0;
                width: 100%;
                p {
                    margin: 0;
                    font-size: 16px;
                }

                .first {
                    display: flex;
                    flex-basis: 50%;
                    justify-content: flex-start;
                    padding-left: 5px;
                }

                .second {
                    display: flex;
                    flex-basis: 50%;
                    justify-content: flex-end;
                    padding-right: 5px;
                }
            }
            .btn {
                display: flex;
                flex-basis: 100%;
                flex-direction: row;
                justify-content: center;

                button {
                    background-color: $primary-color;
                    border: none;
                    min-width: 50%;
                    margin: 5px;
                    opacity: 0.7;
                    box-shadow: 0 4px 8px 2px rgba(0, 0, 0, 0.3);
                    font-size: 14px;

                    &:focus {
                        box-shadow: none;
                    }
                    &:hover {
                        opacity: 1;
                    }
                }
                .active {
                    opacity: 1;
                }
            }
        }
    }
    .rights {
        margin: 0;
        padding: 10px;
        font-size: 10px;
        text-align: center;
    }
}

.pro-sidebar .pro-menu .pro-menu-item.pro-sub-menu .pro-inner-list-item .pro-inner-item > .pro-icon-wrapper {
    display: inline-block !important;
}

.pro-sidebar .pro-menu > ul > .pro-sub-menu > .pro-inner-list-item {
    background-color: transparent;
}

.pro-sidebar-layout {
    overflow: hidden !important;
}
#pro-sidebar-layout::-webkit-scrollbar {
    display: none;
}

#sidebar .pro-sidebar-content {
    overflow-y: scroll;
    &::-webkit-scrollbar {
        display: none !important;
    }
}
